<div class="row intro">
  <div class="col-12 col-md-7">
    <h2>Lets get to know you!!</h2>
        <p>This survey has been designed to find your perfect friend match. Please be 100% honest inyour answers.</p>
        <p class="small">NOTE: This information <em>may</em> be sent to the Galactic Federation for futher study.</p>
      </div>
    </div>
  </div>
</div>
<form id="survey">
  <h3>Your Info</h3>
  <div class="question form-group row">
    <label for="name" class="col-2 col-form-label">Name</label>
    <div class="col-5">
      <input name="name" class="form-control" type="text" placeholder="Your Name" id="name" required>
    </div>
  </div>
  <div class="question form-group row">
    <label for="photo" class="col-2 col-form-label">Photo URL</label>
    <div class="col-5">
      <input name="photo" class="form-control" type="url" placeholder="http://website.com/image.jpg" id="photo" required pattern="https?://.+">
    </div>
  </div>
  <h3>Your Questions</h3>
  {{#each questions}}
  <div class="question">
    <div><span class="badge badge-pill badge-default">{{this.id}}</span></div>
    <label for="q{{this.id}}">{{this.text}}</label>
    <div class="range-group">
      <div class="row">
        <div class="col-2 col-md-3 text-right">No way</div>
        <div class="col-8 col-md-6 text-center">
          <input type="range" class="sliderQuestion" id="q{{this.id}}" min="1" value="3" max="5" step="1">
        </div>
        <div class="col-2 col-md-3 text-left">Yes way</div>
      </div>
    </div>
  </div>
  {{/each}}
  <div id="submitContainer">
    <input type="submit" id="submit" class="btn btn-primary" value="Submit">
  </div>
</form>
<div class="modal fade" id="friendModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Your new friend is...</h5>
        <button type="button" id="modalClose" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
